.checkPart-box {
    margin-top: 5px;
    padding: 5px;
    background-color: var(--light-sand);
    border-radius: 5px;
}

.checkbox-submit-button{
    border: none;
    background-color: var(--dark-gray);
    color: var(--white);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px ;
    cursor: pointer;
}

.checkbox-submit-button:hover {
    background-color: var(--orange);
    color: var(--dark-blue);
}
.saved-part-box{
    background-color: var(--light-sand);
    padding: 5px;
    margin: 5px 0;
}
.saved-part-box-span{
    padding-left: 5px;
}

