.login-hero{
  width: 100%;
  padding: 50px 0;
  background: rgb(100,94,70);
  background: linear-gradient(90deg, rgba(100,94,70,1) 7%, rgba(155,143,100,1) 51%, rgba(100,94,70,1) 95%);
  height: 100vh;
}
/*Login page*/
.login-form-box{
    margin-top: 50px;
    min-width: 500px;
    max-width: 500px;
    padding: 30px;
    border: 1px solid var(--dark-gray);
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px var(--dark-gray);
}
.login-input{
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
  font-size: 1.25rem;
  font-weight: 500;
  color: #000000;
  border-radius: 5px;
  border: 1px solid var(--dark-gray);
}
.login-button{
  text-align: center;
  width: 100%;
  padding: 15px;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--white);
  border-radius: 5px;
  border:none;
  background-color: var(--light-gray);
  cursor: pointer;
}
.login-button:hover{
  color: var(--white);
  background-color: var(--dark-gray);
}
.login-bottom-text {
  color: var(--white);
  display: block;
  margin-top: 30px;
  text-align: right;
  text-decoration: underline;
}
.login-bottom-text:hover {
  color: var(--dark-gray);
}

@media screen and (max-width: 550px) {
  .login-form-box{
    min-width: 290px;
    max-width: 500px;
    padding: 30px;
    border: 1px solid var(--dark-gray);
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px var(--dark-gray);
}
}
  