/*Dashboard header*/
.dashboard-header {
  margin: 0;
  background-color: var(--dark-gray);
  position: fixed;
  width: 100%;
  z-index:100;
  padding: 20px 0;
}
.dashboard-menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}
 /*logout button*/
.logout-button{
  text-align: center;
  width: 100%;
  padding: 8px 15px;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--dark-blue);
  border-radius: 5px;
  border:none;
  background-color: var(--orange);
  cursor: pointer;
}
.logout-button:hover{background-color: var(--tate-olive);}

.dashboard-nav-menu {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 90vh;
  position: absolute;
  top: 80px;
  left: -100%;
  opacity: 1;
  transition: all 0.5s ease;
}
  
.dashboard-nav-menu.active {
  background-color: var(--dark-gray);
  left: 0;
  transition: 350ms;
}
.dashboard-nav-menu-items {
  width: 100%;
}
.dashboard-navbar-toggle {
  background-color: var(--dark-gray);
  padding-top: 120px;
  padding-right: 40px;
  padding-bottom: 20px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.dashboard-nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style-type: none;
  height: 60px;
}
.dashboard-nav-text a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.5rem;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}
.dashboard-nav-text a:hover {
  background-color: var(--orange);
}
span {
  margin-left: 16px;
}

  
 