.groups-container {
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.groups-container li {
    padding: 10px 0;
    width: 300px;
}
.groups-container li:first-child {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.groups-container li input {
    background-color: var(--white);
    border-radius: 5px;
    padding: 3px;
    color: var(--dark-blue);
    font-size: 1rem;

}
.group-button{
    background-color: var(--dark-gray);
    color: var(--white);
    border-radius: 5px;
    margin-left: 5px;
    padding: 4px;
    font-size: 1rem;
    border: 1px solid var(--dark-gray);
    cursor: pointer;
}
.group-button:hover{
    background-color: var(--orange);
    color: var(--white);
}
.group-result{
    display: flex;
    justify-content: space-between;
}
.group-result span{
    display: flex;
    align-items: center;
    font-size: 1.25rem;

}
.group-edit-btn {
    margin: 3px;
    background-color: var(--dark-gray);
    color: var(--white);
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
}
.group-edit-btn:hover {
    background-color: var(--orange);
    color: var(--white);
}

.group-delete-btn{
    margin: 3px;
    background-color: var(--dark-red);
    color: var(--white);
    border-radius: 3px;
    padding: 3px 3px 2px;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
}
.group-delete-btn:hover{
    background-color: var(--red);
    color: var(--white);
}

@media screen and (max-width: 500px){
    .groups-container li {
        padding: 10px 0;
        width: 260px;
    }
}