@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
*,
*::before,
*::after {box-sizing: border-box;}
:root {
    --black:#000000;
    --white:#ffffff;
    --dark-gray:#000000CC;
    --blue:#18A0FB;
    --dark-blue: #060b26;
    --font-Montserrat:'Montserrat', sans-serif;
}

html, body {
  margin: 0;
  font-family: var(--font-Montserrat);
  font-size: 16px;
  background-color: var(--white);
}
a {text-decoration: none;}
ul, li {margin: 0;padding: 0;list-style-type: none;}
h1, h2 ,h3 ,h4 ,h5 , p{margin: 0;}
img{
  display: block;
}

.col-1 {grid-area: col-1;}
.col-2 {grid-area: col-2;}
.col-3 {grid-area: col-3;}
.col-4 {grid-area: col-4;}
.col-5 {grid-area: col-5;}
.col-6 {grid-area: col-6;}
.col-7 {grid-area: col-7;}
.col-8 {grid-area: col-8;}
.col-9 {grid-area: col-9;}
.col-10 {grid-area: col-10;}

.row {text-align: center;}
.container {
  max-width:1680px;
  margin: 0 auto;
  padding:0 20px;
}
.flex-container {display: flex;}
.flex-column {display: flex;flex-direction: column;}
.flex-between {display: flex;justify-content: space-between;}
.flex-center {display: flex;justify-content: center;}

::placeholder {
  color: var(--dark-gray);
  font-size: 1em;
  font-family: var(--font-Montserrat);
}
:-ms-input-placeholder { color:var(--dark-gray);}/* Internet Explorer 10-11 */
::-ms-input-placeholder { color: var(--dark-gray);}/* Microsoft Edge */

/*Header*/
header {
  margin: 0;
  background-color:var(--white);
  position: fixed;
  width: 100%;
  z-index:100;
  padding: 20px 0;
}
nav {align-items: center;}
ul {
  width: 100%;
  justify-content: flex-end;
}

.navigation-li{
  margin: 0 12px;
}
/*register button*/
.registerButton{
  background-color: var(--blue);
  color: var(--white);
  font-family: var(--font-Montserrat);
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.registerButton:hover {
  background-color: var(--dark-gray);
  color: var(--white);
}
/*Login button*/
.loginButton{
  background-color: var(--white);
  color: var(--blue);
  font-family: var(--font-Montserrat);
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  width: 130px;
  height: 40px;
  border:1px solid var(--blue);
  border-radius: 6px;
  cursor: pointer;
}
.loginButton:hover {
  background-color: var(--dark-gray);
  color: var(--white);
  border:1px solid var(--dark-gray);
}

/*Main*/
.frontSide-main{
  background-color: var(--blue);/*temporarily*/
  height: 100vh;
}
.top-section{
  padding: 150px 0;
}

/*Home page*/

/*Login page*/
.login-container{
  padding: 64px;
  max-width: 622px;
  background-color: var(--white);
  height: 100%;
  border: 1px solid var(--dark-gray);
  box-shadow: 0 0 10px var(--dark-gray);
}
.form-box{text-align: left;}
.login-input{
  min-width: 280px;
  background: var(--white);
  box-sizing: border-box;
  border: 1px solid var(--dark-gray);
  padding: 10px;
  margin-bottom: 24px;
}
.login-link{
  margin: 20px 0 0;
  display: block;
  float:right;
  color: var(--dark-gray);
  font-family: var(--font-Montserrat);
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  letter-spacing: -0.015em;
  cursor: pointer;
}
.login-link:hover{color: var(--blue);}

/*Register page*/
h4{
  margin-bottom: 43px;
  font-family: var(--font-Montserrat);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.015em;
  color: var(--);
}

/*DASHBOARD*/
/*Dashboard header*/
.dashboard-header {
  margin: 0;
  background-color: var(--dark-blue);
  position: fixed;
  width: 100%;
  z-index:100;
  padding: 20px 0;
}
.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}
.nav-menu {
  background-color: var(--dark-blue);
  width: 270px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index:200;
}
.nav-menu.active {
  left: 0;
  transition: 350ms;
}
.nav-menu-items {
  width: 100%;
}
.navbar-toggle {
  background-color: var(--dark-blue);
  padding-right: 40px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style-type: none;
  height: 60px;
}
.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}
.nav-text a:hover {
  background-color: var(--blue);
}
span {
  margin-left: 16px;
}
/*Dashboard-main*/
.dashboard-main{
  background-color: var(--white);/*temporarily*/
  color: var(--dark-gray);
  height: 100vh;

}