@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
*,
*::before,
*::after {box-sizing: border-box;}
:root {
    --black:#000000;
    --white:#ffffff;
    --dark-gray:#000000CC;
    --blue:#18A0FB;
    --font-Montserrat:'Montserrat', sans-serif;
}

html, body {
  margin: 0;
  font-family: var(--font-Montserrat);
  font-size: 16px;
  background-color: var(--white);
}
a {text-decoration: none;}
ul, li {margin: 0;padding: 0;list-style-type: none;}
h1, h2 ,h3 ,h4 ,h5 , p{margin: 0;}
img{
  display: block;
}

.col-1 {grid-area: col-1;}
.col-2 {grid-area: col-2;}
.col-3 {grid-area: col-3;}
.col-4 {grid-area: col-4;}
.col-5 {grid-area: col-5;}
.col-6 {grid-area: col-6;}
.col-7 {grid-area: col-7;}
.col-8 {grid-area: col-8;}
.col-9 {grid-area: col-9;}
.col-10 {grid-area: col-10;}

.row {text-align: center;}
.container {
  max-width:1680px;
  margin: 0 auto;
  padding:0 20px;
}
.flex-container {display: flex;}
.flex-col {display: flex;flex-direction: column;}
.flex-between {display: flex;justify-content: space-between;}

/*Header*/
header {
  margin: 0;
  background-color:var(--white);
  position: fixed;
  width: 100%;
  z-index:100;
  padding: 20px 0;
}

/*Header Nav*/
nav{
  margin: 0 auto;
  max-width: 1680px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
ul{
  width: 100%;
  justify-content: flex-end;
}
/*register button*/
a.registerButton{
  background-color: var(--blue);
  color: var(--white);
  font-family: var(--font-Montserrat);
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  width: 130px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
}
a.registerButton:hover {
  background-color: var(--dark-gray);
  color: var(--white);
}
/*Login button*/
a.loginButton{
  margin: 0 12px;
  background-color: var(--white);
  color: var(--blue);
  font-family: var(--font-Montserrat);
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  width: 130px;
  height: 40px;
  border:1px solid var(--blue);
  border-radius: 6px;
  cursor: pointer;
}
a.loginButton:hover {
  background-color: var(--dark-gray);
  color: var(--white);
  border:1px solid var(--dark-gray);
}

/*Main*/
main{
  padding: 200px 0;
  background-color: green;
  height: 100vh;
}